@media screen and (min-width: 660px) {
    @charset "UTF-8";
   
    body{
       margin:auto;
       padding: 0;
       width: 100vw;
       max-width: 360px;
       height: 100vh;
       max-height: 800px;
    
    }
    header{
       position: relative;
       height: 35vh;
       background-image: url(../images/bg-main-mobile.png);
       background-size: cover;
    }
    header div{
       position: absolute;
       width:80%;
       max-width: 500px;
       right: 5%;
       top: 15%;
    }
    header > div img{
       width: 100%;
    }
    
    header p{
       position:absolute;
       color: white;
       right: 14%;
       top:32%;
    }
    div#froncard{
       position: absolute;
       top: 19%;
       left: 5%;
       background-image: url(../images/bg-card-front.png);
       background-size: cover;
       width: 80%;
       max-width: 500px;
       height: 160px;
       border-radius: 10px;
       color: white;
       font-size: 0.7em;
       padding-bottom: 10px;
       font-family: 'Space Grotesk', sans-serif;
       box-shadow: 0 40px 50px rgba(0, 0, 0, 0.221);
    }
    #froncard #bolow{
       width: 30px;
       height: 30px;
       border-radius: 50%;
       background-color: rgb(255, 255, 255);
       margin: 20px 0 0 20px;
    }
    #froncard #bolatra{
       position: absolute;
       left: 20%;
       top: 17%;
       border: 1px solid wheat;
       width: 15px;
       height: 15px;
       border-radius: 50%;
    }
    #froncard h1{
       font-weight: lighter;
       text-align: center;
       margin-top: 40px;
       margin-bottom: 3px;
    }
    #froncard p{
       font-weight: lighter;
       display: inline-block;
       padding: 0 20px;
    }
    #froncard #num{
      margin-left: 60px;
    }
    
    form{
       font-family: 'Space Grotesk', sans-serif;
       text-transform: uppercase;
       font-weight: bold;
       margin-top: 60px;
       text-align: left;
       padding: 20px;
       
    }
    form .for1{
       width: 95%;
       height: 40px;
       margin-bottom: 20px;
       margin-top: 10px;
       border-radius: 10px;
       border: 1px solid rgba(0, 0, 0, 0.306);
       padding: 5px;
    }
    .date{
       width: 20%;
       padding: 10px;
       border-radius: 10px;
       border: 1px solid rgba(0, 0, 0, 0.306);
    
    }
    #texcvc{
       padding-left: 30px;
       padding-right: 100px;
    }
    #icvc{
       width: 35%;
       padding: 10px;
       border-radius: 10px;
       border: 1px solid rgba(0, 0, 0, 0.306);
    
    }
    form > button{
       
       width: 99%;
       margin: auto;
       border-radius: 10px;
       border: none;
       padding: 20px;
       margin-top: 10px;
       background-color:#21082F ;
       color: white;
    
    }
    footer{
       text-align: center;
       font-size: 0.9em;
    }
    footer a{
       text-decoration: none;
       color: black;
       font-weight: bolder;
    }
    #pos{
       display: none;
       background-color: antiquewhite;
    }
    