@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
 *{
   margin: 0;
   padding: 0;
 }
 body{
  width: 100%;
  height: 100%;
 }
 header{
  position: relative;
  padding: 20px;
  height: 200px;
  background-color: hsl(278, 81%, 20%);
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.411);
 }
 .cards{
  width: 280px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
}
 #backcard{
  position:absolute;
  background-image: url(../images/bg-card-back.png);
  right:3%;
  top: 15%;
 }
 #backcard p{
  position: absolute;
  right: 15%;
  top: 26%;
  color: white;

 }
 #frontcard{
  background-image: url(../images/bg-card-front.png);
  position:absolute;
  top: 51%;
  left: 3%;
  z-index:1;

 }
 #frontcard > .bola1{
  display: inline-block;
  background-color:white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 15px 0 0 20px;
 }
 #frontcard > .bola2{
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 0 5px 3px;
 }
 #frontcard > h1{
  text-align: center;
  font-size: 1.3em;
  color: white;
  margin:30px 0 10px 0;
 }
 #frontcard p {
  display: inline-block;
  margin-left: 20px;
  color: white;
  font-size: 0.7em;
 }
 #frontcard #num{
  float: right;
  margin-right: 20px;
 }
/* parte do form */
form{
  padding: 70px 10px 0 10px;
  font-weight: bolder;
  font-family:Arial, Helvetica, sans-serif;
  font-size:.9em;
  height: 100%;
  text-align: left;
}
label{
  margin-left: 5%;
}
.for1{
  display:block;
  margin: auto;
  padding: 14px;
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.219);
  border-radius: 7px;
  margin-bottom: 20px;
  margin-top: 10px;
}
input::placeholder{
  color:rgba(128, 128, 128, 0.445);
  font-weight: bolder;
}
form > button{
  display: block;
  width:90%;
  padding: 14px;
  background-color: hsl(278, 81%, 20%);
  margin: auto;
  border-radius: 8px;
  border: none;
  color: white;
}
#texcvc{
  display: inline-block;
  width:clamp(30px, 40%, 1000px );
}
.date{
  display: inline-block;
  width: 10%;
}
.ipcvc{
  display:inline-block;
  width:clamp(30px, 41%, 1000px );
  
}
#imes{
  margin-left: 5%;
}
section{
  display:none;
}
footer{
  margin: 10px;
  text-align: center;
  font-size: .5em;
}
 